{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
                <a class="ui basic compact button" href="{{ url_for('question.index') }}">
                <i class="caret left icon"></i>
                Back to Questions' List
            </a>
            <h2 class="ui header">
            </h2>
			<div class="ui segment">
				<div class="sub header">How to fill this section</div>
				<div class="ui ordered list">
				  <div class="item">Type in your answer in the box field which corresponds with your answer. E.g if your response is yes and the box field has a "yes", you type in your response in the box provided.</div>
				</div>
			</div>
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

			{% if multiple_choice_question %}

			<div class="ui segment">
			  <h3 class="ui left floated header">{{ multiple_choice_question.title }}</h3>
			  <div class="ui clearing divider"></div>
			  <h5 class="ui header">{{ multiple_choice_question.description }}</h5>
			  <p></p>
			  {% if multiple_choice_question.multiple_choice_option_one %}
				<div class="field">
				{{ multiple_choice_question.multiple_choice_option_one }}{{ form.multiple_choice_option_one }}
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_two %}
				<div class="field">
				{{ multiple_choice_question.multiple_choice_option_two }}{{ form.multiple_choice_option_two }}
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_three %}
				<div class="field">
				{{ multiple_choice_question.multiple_choice_option_three }}{{ form.multiple_choice_option_three }}
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_four %}
				<div class="field">
				{{ multiple_choice_question.multiple_choice_option_four }}{{ form.multiple_choice_option_four }}
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_five %}
				<div class="field">
				{{ multiple_choice_question.multiple_choice_option_five }}{{ form.multiple_choice_option_five }}
				</div>
				{% endif %}
				{{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
				{{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
				{{ f.form_message(flashes['info'], header='Information', class='info') }}
				{{ f.form_message(flashes['success'], header='Success!', class='success') }}

				{% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
					{{ f.render_form_field(field) }}
				{% endfor %}

				{{ f.end_form() }}

			</div>
			{% endif %}
        </div>
    </div>
{% endblock %}
