{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
		<script type="text/css">
		.ui.inverted.menu {
			border: 0 solid transparent;
			background: #007bff;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.ui.menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin: 1rem 0;
			font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
			background: #dc0f0f;
			font-weight: 400;
			border: 1px solid rgba(34,36,38,.15);
			-webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
			box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
			border-radius: .28571429rem;
			min-height: 2.85714286em;
		}
		</script>
    </head>
    <body>
      {# Example dropdown menu setup. Uncomment lines to view
        {% set dropdown = 
          [
            ('account stuff',
              [
                ('account.login', 'login', 'sign in'),
                ('account.logout', 'logout', 'sign out'),
                ('2nd drop', [
                  ('account.login', 'login 2', ''),
                  ('3rd drop', [
                    ('public.home', 'home 2', '')
                  ])
                ])
              ]
            ),
            ('public.home', 'home 1', 'home')
          ]
        %}
      #}

        {% block nav %}
          {# add dropdown variable here to the render_nav method to render dropdowns #}
          {{ nav.render_nav(current_user) }}
        {% endblock %}

        {% include 'partials/_flashes.html' %}
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}
    </body>
</html>
