{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
                <a class="ui basic compact button" href="{{ url_for('project.index') }}">
                <i class="caret left icon"></i>
                Back to Questions' List
            </a>
            <h2 class="ui header">
                Create a multiple choice based question
                <div class="sub header">Add a scale based question</div>
            </h2>
			<div class="ui segment">
				<div class="sub header">How to fill this section</div>
				<div class="ui ordered list">
				  <div class="item">Add the question in the box provided e.g "Do you eat ice vanilla ice creams?</div>
				  <div class="item">Add a description E.g "This question is for those who like vanilla ice cream"</div>
				  <div class="item">Add answer options which will appear to the respondents e.g "Yes"</div>
				  <div class="item">Add another answer option which will appear to the respondents e.g "No"</div>
				  <div class="item">Add another answer option which will appear to the respondents e.g "Maybe"</div>
				</div>
			</div>
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

            <div class="field">
                {{ f.render_form_field(form.title) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.description) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.multiple_choice_option_one) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.multiple_choice_option_two) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.multiple_choice_option_three) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.multiple_choice_option_four) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.multiple_choice_option_five) }}
            </div>
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form() }}

        </div>
    </div>
{% endblock %}
