{% extends 'layouts/base.html' %}
{# import 'macros/form_macros.html' as f #}



{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
                <a class="ui basic compact button" href="{{ url_for('project.index') }}">
                <i class="caret left icon"></i>
                Back to Questions' List
            </a>

            {# set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } #}

            {# f.begin_form(form, flashes) #}
			{% if order %}

			<div class="ui clearing segment">
				<h2 class="ui center aligned header">
				  {{ org.org_name }}
				</h2>
				<p class="ui center aligned header">
				  {{ org.org_description }}
				</p>
				<p class="ui center aligned header">
				  {{ org.mobile_phone }}
				</p>
				<p class="ui center aligned header">
				 {{ org.org_city}}, {{ org.org_state }}, {{ org.org_country }}
				</p>
				<div class="ui items">
				  <div class="item">
						<h3>Name: {{ current_user.full_name()}} </h3>
					  <div class="description">
						<p></p>
					  </div>
					  <div class="extra">
						<h3 class="ui right floated header">Date: {{ today.strftime("%B %d, %Y") }} </h3>
					  </div>
				  </div>
				</div>
			<table class="ui celled table">
			  <thead>
				<th>S/N</th>
				<th>Item</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Tax %</th>
				<th>Tax Amount</th>
			  </tr></thead>
			  <tbody>
				<tr>
				  <td>1</td>
				  <td> {{ order.project.name }}</td>
				  <td> {{ order.currency }} {{ order.unit_amount }}.00</td>
				  <td> {{ order.quantity }} responses</td>
				  <td>{{ order.tax_percentage }}</td> <!---enable when ready --->
				  <td>{{ order.tax_amount }}</td> <!---enable when ready --->
				</tr>
			  </tbody>
			</table>
			<div class="ui divider"></div>
			  <h3 class="ui right floated">Total Amount: {{ order.currency }} {{ order.unit_amount }}</h3>		
			<div class="ui divider"></div>
			  <div class="field">
					  <a href="#" id="buy_now_btn" class="ui teal right floated button">Pay</a>
			  </div>
		{% endif %}
    </div>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script type="text/javascript">
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
	  <script>
		$('select.dropdown')
			.dropdown()
		;
	  </script>
	  <script>
			const button = document.querySelector('#buy_now_btn');

			button.addEventListener('click', event => {
				fetch('/stripe_pay')
				.then((result) => { return result.json(); })
				.then((data) => {
					var stripe = Stripe(data.checkout_public_key);
					stripe.redirectToCheckout({
						// Make the id field from the Checkout Session creation API response
						// available to this file, so you can provide it as parameter here
						// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
						sessionId: data.checkout_session_id
					}).then(function (result) {
						// If `redirectToCheckout` fails due to a browser or network
						// error, display the localized error message to your customer
						// using `result.error.message`.
					});
				})
			});
	  </script>
      <!---<script src="{{ url_for('static', filename='script-ajax.js') }}"></script>--->
{% endblock %}
