{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('organisations.org_home') }}">
                <i class="caret left icon"></i>
                Back to org dashboard
            </a>
            <h2 class="ui header">
                Projects
                <div class="sub header">
                    View and manage your projects.
                </div>
            </h2>
            <div class="ui header" style="width: 100%; height: 50px">
                <a class="ui teal left floated button" href="{{ url_for('project.new_project', org_id=org.id) }}">Create New Project</a>
			</div>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}

            <div style="overflow-x: scroll;"> 
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>

                        <th>Project No.</th>
                        <th>Project Name</th>
                        <th>Edit</th>
                        <th>View </th>
                        <th>Create Questions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in project %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.name }}</td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('project.edit_project', project_id=u.id, name=u.name) }}">Edit project name</a>
                                <!---<a class="ui red left floated button" style="margin-top: 1px"
                                   href="{# url_for('project.delete_project', project_id=u.id) #}" onclick="return confirmDeleteProject('{{ project.id }}');" data-content="{{ project.id }}">Delete</a>--->						
                            </td>
                            <td><a class="ui teal right floated button" href="{{ url_for('project.project_details', org_id=u.organisation_id, project_id=u.id, name=u.name) }}">View project name</a></td>
							<td><a class="ui teal right floated button" href="{{ url_for('question.new_screener_question', project_id=u.id, org_id=u.organisation_id) }}">Create Screener Question</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form method="POST" action="{{ url_for('project.delete_project', project_id=0) }}" id="delete-questin-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteProject(project_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this project",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-project-form");
                        form.attr('action', "{{ url_for('project.delete_project', project_id=0) }}".replace('0',project_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>

{% endblock %}