{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('project.index') }}">
                <i class="caret left icon"></i>
                Back to project dashboard
            </a>
            <h2 class="ui header">
                Projects
			    <div class="ui segment">
				<div class="sub header">Take a moment to understand scale based questions. They are based on "5 point likert" scale and "semantic differential" scale</div>
				<p>5 point likert scale as follows:</p>
				<div class="ui ordered list">
				  <div class="item">Strongly Agree = 5</div>
				  <div class="item"> Agree = 4</div>
				  <div class="item">Undecided = 3</div>
				  <div class="item">Disagree = 2</div>
				  <div class="item">Strongly Disagree = 1</div>
				</div>
				<p>Semantic differential scale as follows:</p>
				<div class="ui ordered list">
				  <div class="item">Very Pleasant = 5</div>
				  <div class="item"> Somewhat Pleasant = 4</div>
				  <div class="item">Neither Pleasant or Unpleasant = 3</div>
				  <div class="item">Somewhat Unpleasant = 2</div>
				  <div class="item">Very Unpleasant = 1</div>
				</div>
				<p>Add your question, description and choose either the 5 Point Likert Scale or the Semantic Differential Scale and the right answer options will be made available to your respondents.</p>
			</div>
                <div class="sub header">
                    View and manage your questions for this project.  
					{% if count_questions >= 10 %} Note you can only add {{ count_questions }} questions per project {% endif %}
                </div>
            </h2>
            <div class="ui header" style="width: 100%; height: 50px">
                <a class="ui teal left floated button" href="{{ url_for('project.index') }}">Create New Project</a>
				{% if count_screener_questions %} <!----limit to only 10 questions per project --->
							{% else %}
				<a class="ui teal right floated button" href="{{ url_for('question.new_screener_question', project_id=project_id, org_id=org.id) }}">Create Screener Question</a>
				{% endif %}
		       {% if count_questions >= 10 %}
				        <a href="#" id="buy_now_btn" class="ui teal right floated button">Submit Questions</a>
			   {% else %}
				<a class="ui teal right floated button" href="{{ url_for('question.new_scale_question', project_id=project_id, org_id=org.id) }}">Create Scale Question</a>
				
				<a class="ui teal right floated button" href="{{ url_for('question.new_multiple_choice_question', project_id=project_id, org_id=org.id) }}">Add Multi Choice Question</a>
                {% endif %}
			</div>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}

            <div style="overflow-x: scroll;"> 
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Description</th>
                        <th>Answer Option</th>
                        <th>Answer Option</th>
                        <th>Answer Option</th>
                        <th>Answer Option</th>
                        <th>Answer Option</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in screener_question %}
                        <tr>
                            <td>{{ u.question }}</td>
							<td>{{ u.description }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('question.edit_screener_question', question_id=u.id, question=u.question, project_id=u.project_id, org_id=org.id) }}">Edit</a>            
                            </td>
                        </tr>
                    {% endfor %}

                    {% for u in scale_question %}
                        <tr>
                            <td>{{ u.title }}</td>
							<td>{{ u.description }}</td>
							<td>{{ u.option_one }}</td>
							<td>{{ u.option_two }}</td>
							<td>{{ u.option_three }}</td>
							<td>{{ u.option_four }}</td>
							<td>{{ u.option_five }}</td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('question.edit_scale_question', question_id=u.id, question=u.title, project_id=u.project_id, org_id=org.id) }}">Edit</a>            
                            </td>
                        </tr>
                    {% endfor %}
                    {% for u in multiple_choice_question %}
                        <tr>
                            <td>{{ u.title }}</td>
							<td>{{ u.description }}</td>
							<td>{{ u.multiple_choice_option_one }}</td>
							<td>{{ u.multiple_choice_option_two }}</td>
							<td>{{ u.multiple_choice_option_three }}</td>
							<td>{{ u.multiple_choice_option_four }}</td>
							<td>{{ u.multiple_choice_option_five }}</td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('question.edit_multiple_choice_question', question_id=u.id, question=u.title, project_id=u.project_id, org_id=org.id) }}">Edit</a>            
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form method="POST" action="{{ url_for('project.delete_project', project_id=0) }}" id="delete-questin-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script type="text/javascript">
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
	  <script>
		$('select.dropdown')
			.dropdown()
		;
	  </script>
	  <script>
			const button = document.querySelector('#buy_now_btn');

			button.addEventListener('click', event => {
				fetch('/stripe_pay')
				.then((result) => { return result.json(); })
				.then((data) => {
					var stripe = Stripe(data.checkout_public_key);
					stripe.redirectToCheckout({
						// Make the id field from the Checkout Session creation API response
						// available to this file, so you can provide it as parameter here
						// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
						sessionId: data.checkout_session_id
					}).then(function (result) {
						// If `redirectToCheckout` fails due to a browser or network
						// error, display the localized error message to your customer
						// using `result.error.message`.
					});
				})
			});
	  </script>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteProject(project_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this project",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-project-form");
                        form.attr('action', "{{ url_for('project.delete_project', project_id=0) }}".replace('0',project_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script type="text/javascript">
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
	  <script>
		$('select.dropdown')
			.dropdown()
		;
	  </script>
	  <script>
			const button = document.querySelector('#buy_now_btn');

			button.addEventListener('click', event => {
				fetch('/stripe_pay')
				.then((result) => { return result.json(); })
				.then((data) => {
					var stripe = Stripe(data.checkout_public_key);
					stripe.redirectToCheckout({
						// Make the id field from the Checkout Session creation API response
						// available to this file, so you can provide it as parameter here
						// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
						sessionId: data.checkout_session_id
					}).then(function (result) {
						// If `redirectToCheckout` fails due to a browser or network
						// error, display the localized error message to your customer
						// using `result.error.message`.
					});
				})
			});
	  </script>
      <!---<script src="{{ url_for('static', filename='script-ajax.js') }}"></script>--->
{% endblock %}