{% extends 'layouts/base.html' %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
                <a class="ui basic compact button" href="{{ url_for('project.index') }}">
                <i class="caret left icon"></i>
                Back to Project Dashboard
            </a>
            <h2 class="ui header">
                Service Order Details
                <div class="sub header">Please indicate the following details and proceed to make payment</div>
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}


            <div class="two fields">
                {{ f.render_form_field(form.order_quantity ) }}
                {{ f.render_form_field(form.service_type) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.currency) }}
            </div>
			<button class="ui button" id="buy_now_btn" name="submit" type="Submit" value="Submit"><a href="#" >Go to Payment Area</a></button>
			
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}



            {{ f.end_form() }}

        </div>
    </div>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script type="text/javascript">
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
	  <script>
		$('select.dropdown')
			.dropdown()
		;
	  </script>
	  <script>
			const button = document.querySelector('#buy_now_btn');

			button.addEventListener('click', event => {
				fetch('/stripe_pay')
				.then((result) => { return result.json(); })
				.then((data) => {
					var stripe = Stripe(data.checkout_public_key);
					stripe.redirectToCheckout({
						// Make the id field from the Checkout Session creation API response
						// available to this file, so you can provide it as parameter here
						// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
						sessionId: data.checkout_session_id
					}).then(function (result) {
						// If `redirectToCheckout` fails due to a browser or network
						// error, display the localized error message to your customer
						// using `result.error.message`.
					});
				})
			});
	  </script>
      <!---<script src="{{ url_for('static', filename='script-ajax.js') }}"></script>--->
{% endblock %}
