{% extends 'layouts/base.html' %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Steps to take to ensure we get your final order.We'll take the questions and conduct the research.
                <div class="sub header">Please kindly try to follow these steps when creating your order.</div>
            </h2>
			<div class="ui steps">
			  <div class="active step">
				<i class="industry icon"></i>
				<div class="content">
				  <div class="title" href="{{ url_for('organisations.org_home') }}"><a href="{{ url_for('organisations.org_home') }}">Org Details</a></div> 
				  <div class="description" href="{{ url_for('organisations.org_home') }}"><a href="{{ url_for('organisations.org_home') }}"> Add org details</a></div> 
				</div>
			  </div>
			  <div class="step">
				<i class="pen square icon"></i>
				<div class="content">
				  <div class="title"><a href="{{ url_for('project.index') }}">Project Details</a></div>
				  <div class="description"><a href="{{ url_for('project.index') }}">Create a project.</a></div>
				</div>
			  </div>
			  <div class="step">
				<i class="list alternate outline icon"></i>
				<div class="content">
				  <div class="title"><a href="{{ url_for('project.index') }}">Add Questions</a></div>
				  <div class="description"><a href="{{ url_for('project.index') }}">You'll need to create 10 questions.</a></div>
				</div>
			  </div>
			  <div class="step">
				<i class="payment icon"></i>
				<div class="content">
				  <div class="title">Pay</div>
				  <div class="description">Card payment</div>
				</div>
			  </div>
			  <div class="disabled step">
				<i class="file alternate icon"></i>
				<div class="content">
				  <div class="title">Research Starts</div>
				</div>
			  </div>
			</div>
        </div>
    </div>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script type="text/javascript">
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
	  <script>
		$('select.dropdown')
			.dropdown()
		;
	  </script>
	  <script>
			const button = document.querySelector('#buy_now_btn');

			button.addEventListener('click', event => {
				fetch('/stripe_pay')
				.then((result) => { return result.json(); })
				.then((data) => {
					var stripe = Stripe(data.checkout_public_key);
					stripe.redirectToCheckout({
						// Make the id field from the Checkout Session creation API response
						// available to this file, so you can provide it as parameter here
						// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
						sessionId: data.checkout_session_id
					}).then(function (result) {
						// If `redirectToCheckout` fails due to a browser or network
						// error, display the localized error message to your customer
						// using `result.error.message`.
					});
				})
			});
	  </script>
      <!---<script src="{{ url_for('static', filename='script-ajax.js') }}"></script>--->
{% endblock %}
